* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", monospace, "sans-serif";
  line-height: 1;
  color: #222;
  background: linear-gradient(to left, lightgreen, lightblue);
}

h1 {
  font-size: 4.4rem;
  /* color: red; */
  text-align: center;
  margin-bottom: 3rem;
}

.container {
  max-width: 75rem;
  margin: 20vh auto;
  padding: 2rem 4rem;
  /* background-color: rgb(224, 248, 211); */
  background: rgba(49, 135, 125, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin: 2rem 0;
}

p {
  font-size: 1.8rem;
}

input {
  font-family: inherit;
  width: 70%;
  height: 4rem;
  padding-left: 2rem;
  font-size: 1.8rem;
  border-radius: 5px;
  float: left;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  color: darkgreen;
}

input::placeholder {
  font-size: 1.6rem;
  color: rgb(158, 158, 158);
}
